body {
    background-color: var(--cor-fundo-corpo);  
    font-family: var(--fonte-titulo);
    padding-top: 80px;   
    margin:  15px 15px 100px 1px;
    text-align: center;
}
.equipe-titulo {
    color: var(--cor-texto-titulo);
    font-style: normal;
    
}

.equipe-introducao{
    p{
        color: var(--cor-texto);
        font-size: 1.25rem;
        
    }
}
.estudante{
    
    line-height: var(--espacamento-padrao);
    font-size: 20px;

}
#accordionPessoas{
    text-align: justify;
}