@font-face {
  font-family: 'Alagard';
  src: url('../fonts/alagard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --cor-primaria: #4464A5;
  --cor-secundaria: #FFF8F8;
  --cor-terciaria: #FFF8F8;
  --fonte-titulo: 'Alagard', sans-serif;
  --espacamento-padrao: 1.5rem;
  --cor-header-footer: #4464A5;
  --cor-fundo-corpo: #FFF8F8;
  --cor-texto-header: #FFFFFF;
  --cor-degrade-esquerda:#B0C5EF; 
   --cor-degrade-direita:#4464A5;
}

body {
  background-color: var(--cor-fundo-corpo);
  padding-top: 70px;   
  padding-bottom: 60px; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fonte-titulo);
}

.cronometro {
  font-family: 'Alagard', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-top: 1rem;
  font-size: 7em;
  font-weight: normal;
  color: #000000;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  position: relative;
  top: 0px;
  left: -200px;
  white-space: pre-line;
  line-height: 1.2;
}