@font-face {
  font-family: 'Alagard';
  src: url('../fonts/alagard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --cor-primaria: #4464A5;
  --cor-secundaria: #FFF8F8;
  --cor-terciaria: #FFF8F8;
  --fonte-titulo: 'Alagard', sans-serif;
  --espacamento-padrao: 1.5rem;
  --cor-header-footer: #4464A5;
  --cor-fundo-corpo: #FFF8F8;
  --cor-texto-header: #FFFFFF;
}

body {
  background-color: var(--cor-fundo-corpo);
  padding-top: 70px;   
  padding-bottom: 60px; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fonte-titulo);
}
.bd-image-container {
  width: 100%;
  height: 300px;           
  overflow: hidden;        
  background-color: #807a7a; 
  border: 2px solid #faf7f7;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bd-image-container img {
  width: 100%;
  height: 1%;
  object-fit: cover;      
}

.carrossel-img-box {
  height: 400px;
  background-color: #1a1a1a;
}
.carrossel-img-box img {
  height: 100%;
  object-fit: cover;
}
.btn-preto-pequeno {
  background-color: #cf222200;
  color: #020202;            /* Texto branco */
  font-size: 13px;           /* Tamanho pequeno da fonte */
  padding: 4px 10px;         /* Espaçamento interno (deixa o botão menor) */
  border-radius: 4px;        /* Cantos levemente arredondados */
  text-decoration: none;     /* Remove o sublinhado de link */
  display: inline-block;     /* Mantém o comportamento de botão */
  transition: background-color 0.2s;

}
.btn-preto-pequeno:hover {
  background-color: #222222; 
  color: #ffffff;
}
.quadro-imagem-Marie {
  width: 100%;
  height: 300px;
  background-color: #1a1a1a;
  border: 2px solid #333;
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quadro-imagem-Marie img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}