body {
    background-color: var(--cor-fundo-corpo);  
}
/*separação de sessões*/
section {
    margin-bottom: 200px ;
    padding-left: 10px ;
    padding-right: 50px ;
    margin-left: -15%;
    margin-right: -15%;
    padding-top: 50px ;
}
h1{
    font-size: 7rem
}


/* organização dos blocos e colunas no sobre e premiação */
.bloco-sobre,
.bloco-premiacao {
   display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
}

.col-1-text-sobre,
.col-2-text-premiacao {
    flex: 1;
    font-size: 1.75rem;
    text-align: justify;
    line-height: 1.6; /* Define o espaçamento de linha (1.6 vezes o tamanho da fonte) */
}

.col-2-img-sobre,
.col-2-img-premiacao {
    flex: 1;
    
}

.col-2-img-sobre {
    display: flex;
    justify-content: flex-end;
}

.col-1-img-premiacao {
    display: flex;
    justify-content: flex-start;
}

.col-2-img-sobre img,
.col-1-img-premiacao img {
    width: 720px;
    height: 480px;
}

/*separação das colunas*/
.bloco-contato{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    div{
         background: #f0f0f0; 
         padding: 20px;
    }
}

/* bloco contato */

/* colunaredes sociais */
.col-contato {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    text-align: justify;
}

.redes {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: auto;
    padding-bottom: 20px;
    padding-left: 50px;
    justify-content: center;
}

.logo-link-pg {
    display: flex;
    align-items: center;
}

.insta-img-pg,
.wtt-img-pg {
    width: 30px;
    height: 30px;
}

.discord-img-pg {
    width: 37px;
    height: 37px;
    position: relative;
    top: 1px;
}

/* coluna login*/
h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(30px);
    font-family: var(--fonte-titulo);
    
}

.form-contato .mb-3  {
    width: 95%;
}
input[type="email"],
input[type="text"] {
    margin-top: 20px;
}
.buttom-novidade{
    font-family: var(--fonte-titulo);
}

.form-contato .form-check {
    align-self: flex-start;
    margin-left: 30px;
}